<input type="text" id="team" placeholder="team">

<button id="go" data-url="<%=@url %>">go</button>

<script>
var eventHandler = function() {
  var team = document.getElementById('team');
  var go = document.getElementById('go');
  var url = go.getAttribute('data-url');
  go.addEventListener('click', function() {
    url = url + '&team=' + team.value;
    console.log(url);
    location.href = url;
  });
}

if (document.readyState === 'complete' || document.readyState !== 'loading') {
    eventHandler();
} else {
    document.addEventListener('DOMContentLoaded', eventHandler);
}
</script>
